<div class="center hero-unit">
  <h1>Vitam Ta v aplikacii Competitions</h1>

  <h2></h2>
  <%= link_to image_tag("competition.jpg") %>  <br> <br>

  <% if current_user %>
      <div class="alert alert-success">Uspesne prihlasenie :-)</div>
      <button_to
  <% else %>
    <%= link_to "Prihlasenie", new_session_path, class: "btn btn-large btn-primary", :title => "Prihlasenie do systemu" %>
  <% end %>
</div>

