<div class="center hero-unit">
  <h1>Vitam Ta v aplikacii Competitions</h1>

  <h2></h2>
  <%= link_to image_tag("competition.jpg") %>  <br> <br>

  <%= link_to "Prihlas sa", '#', class: "btn btn-large btn-primary" %>

</div>
