<footer class="footer">
  <small>
    <a href="#">Competitions</a>
    by Filip Zachar & Martin Samek
  </small>
  <nav>
    <ul>
      <li><%= link_to "O aplikacii",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
    </ul>
  </nav>
</footer>